/* 
 Fonts:
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
 */

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  height: 100%;
  overflow-x: hidden;
}
body{
  height: 100%;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}
.page-container {
  width: 80%;
  margin: auto;
  position: relative;
  padding-top: 80px;
}
input, legend, .item-text, button, p {
  font-size: 18px;
}
button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300 !important;
}
.item-text {
  margin-left: 1em;
  display: inline-block;
  width: 90%;
  word-wrap: break-word;
}
button, input, ul, li {
  border-radius: 0 !important;
}
